<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
        <button ion-button icon-only end (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>

    <h1 ion-text color="primary" text-center>Device Information</h1>

    <ion-card class="custom-card" *ngIf="device.power_status == 'false'">
      <ion-card-header>
          <ion-item>
            <ion-icon color="danger" name="md-power" item-start large></ion-icon>
            <h1 ion-text text-center>Power Status</h1>
          </ion-item>
      </ion-card-header>
      <ion-item>
        <h4 class="font-display" text-center color="danger">OFF</h4>
      </ion-item>
    </ion-card>

    <ion-card class="custom-card"  *ngIf="device.power_status == 'true'">
      <ion-card-header>
          <ion-item>
            <ion-icon color="green" name="md-power" item-start large></ion-icon>
            <h1 ion-text text-center>Power Status</h1>
          </ion-item>
      </ion-card-header>
      <ion-item>
        <h4 class="font-display" ion-text text-center color="green">ON</h4>
      </ion-item>
    </ion-card>

    <ion-card class="custom-card">
      <ion-card-header>
          <ion-item>
            <ion-icon name="md-battery-charging" item-start large></ion-icon>
            <h1 ion-text text-center>Battery Status</h1>
          </ion-item>
      </ion-card-header>
      <ion-item>
        <h4 class="font-display" ion-text text-center>{{device.battery_status}} %</h4>
      </ion-item>
    </ion-card>

  </ion-list>

</ion-content>
